@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-meteor-effect {
    animation: meteor 5s linear infinite;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }

  .dark {
    --background: #000319;
    --foreground: #ededed;
  }
}

@keyframes meteor {
  0% {
    transform: rotate(215deg) translateX(0);
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: rotate(215deg) translateX(-500px);
    opacity: 0;
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}